header {
  background-color: #ff0000;
  color: #000000;
  text-shadow: 1px 3px 6px #6200ff; /* Cor do texto do cabeçalho */
  padding: 480px 0; /* Espaçamento interno do cabeçalho */
  position: fixed; /* Fixa o cabeçalho no topo da página */
  width: 100%; /* Largura total do cabeçalho */
  top: 0; /* Posiciona o cabeçalho no topo */
  z-index: 1000
}

nav ul {
  list-style-type: none;
  text-align: center;
  margin-left: 60%;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: #0f0f0f;
  text-shadow: 1px 2px 3px #3b05ff;
  text-decoration: none;
  font-size: 24px;
}






body {
    margin: 0;
    padding: 0;
    color: rgb(224, 222, 220);
    font-family: sans-serif;
    background-color: #0f0f0f00;
}



h1, h2{
  margin-top: 75px;
  font-weight: 800;
  color: #00000000;
  text-shadow:2px 2px 1px #3b05ff
}


 
.btn2 {
  position: relative;
  display: inline-block;
  padding: 7px 25px;
  border: 2px solid #fefefe;
  text-transform: uppercase;
  color: #fefefe;
  text-decoration: none;
  font-weight: 600;
  font-size: 20px;
  transition: 0.3s;
  margin-left: 120px;
}

.btn2::before {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  width: calc(100% + 4px);
  height: calc(100% - -2px);
  background-color: #000000;
  transition: 0.3s ease-out;
  transform: scaleY(1);
}

.btn2::after {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  width: calc(100% + 4px);
  height: calc(100% - 50px);
  background-color: #000000;
  transition: 0.3s ease-out;
  transform: scaleY(1);
}

.btn2:hover::before {
  transform: translateY(-25px);
  height: 0;
}

.btn2:hover::after {
  transform: scaleX(0);
  transition-delay: 0.15s;
}

.btn2:hover {
  border: 2px solid #fefefe;
}

.btn2 span {
  position: relative;
  z-index: 3;
}

button {
  text-decoration: none;
  border: none;
  background-color: transparent;
}

 header {
  background-color: #000000;
  padding: 10px 0;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

nav ul li {
  display: inline;
}

nav ul li button {
  background-color: #555;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 3px;
  cursor: pointer;
}



 


  h1{
    text-align: center;
    
  }


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
  color: rgb(224, 222, 220);
  font-family: sans-serif;
  background-color: #000000;
   
}

a{
    color: #1398;
    text-decoration: none;
}

.main-header{
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}


.main-header h1{

    font-size: 4em;
    margin-bottom: 1em;
    line-height: 1.2em;
}

  
  .main-header h1 span {
    color: rgb(8, 136, 1);
  }

  .container{
    max-width: 1100px;
    margin: auto;
    overflow:hidden;
    padding: 3 8em;
    margin-top: 50px;

  }

  .card{
    display: grid;
    grid-template-columns: repeat(2, 1fr) ;
    gap: 1em;
    background-color: rgba(0, 0, 0, 0.493);
   text-align: justify;
   margin-bottom: 29.2px;
   
  }
  img{
    width: 100%;
  }
  .card h3{
    margin-bottom: 2em;
  }
  .card div{
    padding: 2em;
  }

  .card:nth-child(even) img{
    order: 2
  }

  button{
    color: #ffffff;
  }

  .btn2 {
    position: relative;
    display: inline-block;
    padding: 7px 25px;
    border: 2px solid #fefefe;
    text-transform: uppercase;
    color: #fefefe;
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
    transition: 0.3s;
    margin-left: 120px;
    margin-top: 5px;
  }
  
  .btn2::before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    width: calc(100% + 4px);
    height: calc(100% - -2px);
    background-color: #000000;
    transition: 0.3s ease-out;
    transform: scaleY(1);
  }
  
  .btn2::after {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    width: calc(100% + 4px);
    height: calc(100% - 50px);
    background-color: #000000;
    transition: 0.3s ease-out;
    transform: scaleY(1);
  }
  
  .btn2:hover::before {
    transform: translateY(-25px);
    height: 0;
  }
  
  .btn2:hover::after {
    transform: scaleX(0);
    transition-delay: 0.15s;
  }
  
  .btn2:hover {
    border: 2px solid #fefefe;
  }
  
  .btn2 span {
    position: relative;
    z-index: 3;
  }
  
  button {
    text-decoration: none;
    border: none;
    background-color: transparent;
  }

 

  .galeria{
    display: flex;
    height: 20em;
    margin: 2em;
    gap: 0.5em;
  }

  .galeria div{
    flex: 1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 40%;
    transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
 .galeria div:hover{
  flex: 3;
 }
 
 .galeria:hover div:not(:hover) {
    filter: blur(4px) grayscale(100%) opacity(50%);
    
 }

